<form #registerForm="ngForm"  (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input type="text" placeholder="Username" class="form-control mt-2" name="username"
         [(ngModel)]="model.username">
        </div>
    <div class="form-group">
         <input type="password" placeholder="Password" class="form-control mt-2" name="password"
         [(ngModel)]="model.password">
         </div>
    <ng-container *ngIf="UserFromHomeComponents" >   
   <div class="form-group">
       <label >Who is your favorite user?</label>
       <select class="form-control">
           <option *ngFor="let user of UserFromHomeComponents" [value]="user.username">
               {{user.username}}
            </option>
       </select>
   </div>
</ng-container>  
   <ng-container >
       <div class="container">
           <p class="text-warning">{{StringFromHomeComp}}--{{OutTestVar}}</p>
       </div>
   </ng-container>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2"  type="submit">Register</button>
        <button class="btn btn-warning mr-2"(click)="cancel()" type="button">Cancel</button>
    </div>

</form>
